[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
uuid = "*"
pillow = "*"
django-cors-headers = "*"
pyotp = "*"
python-dotenv = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
phonenumbers = "*"
requests = "*"
faker = "*"
djoser = "*"
django-rest-auth = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
